<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidexamp.example">

    <application
        android:name=".UtsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_summary"></activity>
        <activity
            android:name=".activity.PlatformActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SeasonRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Stations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BookTicket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NormalBook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TicketTypeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>