<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidexamp.example">

    <application
        android:name=".UtsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PlatformActivity"></activity>
        <activity android:name=".activity.QrScanActivity" />
        <activity android:name=".activity.FareActivity" />
        <activity android:name=".activity.SeasonRegister" />
        <activity android:name=".activity.Stations" />
        <activity android:name=".activity.Credential" />
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BookTicket" />
        <activity android:name=".activity.NormalBook" />
        <activity android:name=".activity.BookTravel" />
        <activity android:name=".activity.Register" />
        <activity android:name=".activity.TicketTypeActivity" />
    </application>

</manifest>